<div class="settings-panel">
    <a href="{{path}}/settings/preferences" class="preferences {% if nav == "preferences" %}selected{% endif %}" data-label="Mijn voorkeuren"></a>
    <a href="{{path}}/settings/password" class="password {% if nav == "password" %}selected{% endif %}" data-label="Wachtwoord veranderen"></a>
    <a href="{{path}}/settings/verification" class="verification {% if nav == "verification" %}selected{% endif %}" data-label="Verificatie instellen"></a>
    <a href="{{path}}/settings/email" class="email {% if nav == "email" %}selected{% endif %}" data-label="E-mailadres veranderen"></a>
    <a href="{{path}}/settings/namechange" class="changename {% if nav == "namechange" %}selected{% endif %}" data-label="Leetnaam veranderen"></a>
    <a href="{{path}}/shop/history" class="history" data-label="Aankoopgeschiedenis"></a>
</div>