{% extends "base.html" %}

{% block body %}
<header class="page-header flex-container flex-vertical-center">
    <div class="page-header-content">
        <h1>{{site.shortname}} {{locale.store}}</h1>
        {{locale.desc}}
    </div>
</header>

<div class="page-content shop-offer">
    <input type="hidden" id="offer-id" value="{{data.offer.offer_id}}">
    <input type="hidden" id="offer-amount" value="{{data.offer.amount}}">
    <input type="hidden" id="offer-country" value="{{data.offer.lang|lower}}">
    <input type="hidden" id="offer-type" value="{{data.offer.type}}">
    <h2>
        <a href="/shop" class="rounded-button">{{locale.back}}</a>
        {{locale.buymethods}} - {{data.offer.amount}} {{data.offer.currency}} {{locale.for}} €{{data.offer.price}} {{locale.or_lower}}
    </h2>
    <article class="default-section loading-solutions">
        {{locale.loading_methods}}
    </article>
</div>
{% endblock %}