{% extends "base.html" %}

{% block body %}
<header class="page-header flex-container flex-vertical-center">
    <div class="page-header-content">
        <h1>{{site.shortname}} {{locale.store}}</h1>
        {{locale.desc}}
    </div>
</header>
{% if player %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <div class="aside-title-content">{{locale.title}}</div>
            <div class="filter-container">
            </div>

            <div class="offers-container">
                {% for offer in data.shop %}
                <div class="offer-container">
                    <a href="/shop/offers/{{offer.offer_id}}" class="offer-content pixelated">
                        <div class="offer-label">{{offer.currency}}</div>
                        {% if offer.amount >= 500 %}<div class="offer-label"></div>{% endif %}
                        <div class="offer-value"><br>{{offer.amount}}</div>
                        <div class="offer-amount">€{{offer.price}}</div>
                        <div class="credits-sprite credits-sprite-shop_icon_1" style="background-image: url(/assets/images/web/pages/shop/{{offer.image}}?)"></div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="payments-container">
                <span class="audiotel"></span>
                <span class="sms-plus"></span>
            </div>
        </article>
    </div>
    <div class="right-side">
        <div class="shop-purses">
            {% for value in data.currencys %}
                {% if value.type != 0 %}
                <div class="purse-container {{value.currency}}">
                   {{value.amount}}
                </div> 
                {% endif %}
            {% endfor %}
        </div>
        <aside class="default-section">
            <div class="aside-title-content">{{locale.more_information}}</div>
            <div class="aside-content">
                <p>{{locale.content_1}} {{locale.content_2}} <a href="/help/requests/new">{{locale.help_tool}}</a>.</p>
            </div>
        </aside>
    </div>
</div>
{% else %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <h3 class="aside-title">{{locale.not_logged}}</h3>
            {{locale.have_to_login}} <a href="#" class="login-dialog-button">{{locale.click_here}}</a> {{locale.to_login}}
        </article>
    </div>
    <div class="right-side">
        <aside class="default-section">
            <h3 class="aside-title">{{locale.more_information}}</h3>
            <p>{{locale.content_1}} {{locale.content_2}} <a href="/help/requests/new">{{locale.help_tool}}</a>.</p>
        </aside>
    </div>
</div>
{% endif %}
{% endblock %}