<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8"/>

    <title>Login | Leet Housekeeping</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Asap+Condensed:500"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="https://keenthemes.com/metronic/preview/demo11/custom/pages/user/assets/css/demo11/pages/login/login-3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/vendors/css/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/vendors/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body  class="kt-page-content-white kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading"  >
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(https://i.imgur.com/13vQR3g.jpg);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a href="#">
                            <img src="/assets/images/web/header/logo.png">
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Sign In To Housekeeping</h3>
                        </div>
                        <form class="kt-form" method="post">
                            <div class="input-group loginform">
                                <input class="form-control" type="text" placeholder="Username" name="username" autocomplete="off">
                            </div>
                            <div class="input-group loginform">
                                <input class="form-control" type="password" placeholder="Password" name="password">
                            </div>
                            <div class="input-group" id="pincode" style="display: none">
                                <input class="form-control" type="text" placeholder="Insert pincode" name="pincode">
                            </div>
                            <div class="row kt-login__extra">
                                <div class="col">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="remember_me"> Remember me
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var KTAppOptions = {"colors":{"state":{"brand":"#5d78ff","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
</script>
<script src="/assets/admin/js/vendors.bundle.js" type="text/javascript"></script>
<script src="/assets/admin/js/scripts.bundle.js" type="text/javascript"></script>
<script src="/assets/admin/js/init.js?v={{revision}}" type="text/javascript"></script>
<script src="/assets/admin/js/pages/web.login.js?v={{revision}}{{date().timestamp}}" type="text/javascript"></script>
</body>
</html>