{% extends "base.html" %}
{% block body %}
<div class="page-content">
    <div class="left-side">
    <article class="default-section">
        <div class="aside-title-content">Pagina niet gevonden!</div>
        <div class="aside-content">
            <img style="float:right" src="{{path}}/assets/images/web/pages/lost/error.gif" />
            Sorry, de pagina die je probeert te vinden bestaat niet.<br><br>
            Controleer opnieuw of je de juiste url hebt. Kom je dan weer hier terecht (welkom terug!) ga dan met de &#39;Back&#39; knop terug naar waar je vandaan kwam.
        </div>
    </article>
    </div>

    <div class="right-side">
        <article class="default-section">
            <div class="aside-title-content">Zocht je misschien...</div>
            <div class="aside-content">
                <p><b>De Home van een van je vrienden?</b><br/>Misschien staat hij/zij bij de <a href="{{path}}/games/ranking">Highscores</a>.</p>

                <p><b>Rooms that rock?</b><br/>Blader eens door de <a href="{{path}}/hotel" target="_blank">Navigator</a>.</p>



                <p><b>Ik ben mijn slippers kwijt!</b><br/>Dan moet je toch echt beter zoeken! :-)</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}