{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}

<div class="page-content">
    <div class="left-side">
        {% for category in forums %}
        {% if player.rank >= category.min_rank %}
        <article class="default-section">
            <div class="aside-title-content">{{category.name}}</div>
            <div class="aside-desc-content">{{category.description}}</div>
            <div class="aside-content">
                <table class="default-table ranking-content">
                    <thead>
                    <tr>
                        <th colspan="2">{{locale.index_subject}}</th>
                        <th>{{locale.index_topics}}</th>
                        <th>{{locale.index_latest_topic}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for forum in category.forum %}
                    {% if player.rank >= forum.min_rank %}
                    <tr>
                        <td><img src="{{path}}/assets/images/web/pages/forum/{{forum.image}}" class="pixelated"></td>
                        <td><a href="{{path}}/forum/{{forum.id}}-{{forum.slug}}">{{forum.title}}</a><br /><small><div style="width: 265px;">{{forum.description}}</small></div></td>
                        <td class="count">{{forum.count_topics}}</td>
                        <td>
                            {% if forum.count_topics == 0 %}
                                {{locale.index_empty}}
                            {% else %}
                                <a href="{{path}}/forum/thread/{{forum.latest_topic.id}}-{{forum.latest_topic.slug}}">{{forum.latest_topic.title}}</a><br />
                                {{forum.latest_topic.author.username}}, <span>{{forum.latest_topic.created_at}}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <div class="right-side">
      
        <article class="default-section">
            <div class="aside-title-content">{{locale.index_latest_activities}}</div>
            <div class="aside-content">
                <div class="related-articles-container">
                    {% for post in latestposts %}
                    <a href="{{path}}/forum/thread/{{post.topic_id}}-{{post.slug}}" class="related-article-container">
                        <div class="related-article-thumbnail" style="background-image: url({{fpath}}/avatarimage?figure={{post.author.look}}&headonly=1&direction=2&head_direction=2&action=&gesture=&size=m); margin-top: -5px;" class="pixelated small-head"></div>
                        <div class="related-article-details">
                            <div class="related-article-title">{{post.title}}</div>
                            <div class="related-article-date">{{post.created_at|time_diff}} {{locale.index_by}} <b>{{post.author.username}}</b></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </article>

    </div>
</div>
{% endblock %}