{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block body %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <div class="aside-title-content">{{article.title}}</div>
            <div class="aside-desc-content">{{article.short_story}}</div>
            <div class="aside-content">
                {% if article.images is not empty %}
                <img src="{{article.images}}" style="float:right">
                {% endif %}
                {{article.full_story|raw}}

                <div class="article-author flex-container flex-vertical-center">
                    <div class="author-image">
                        {% if article.author == "0" %}
                        <img src="{{path}}/assets/images/web/avatar-frank.png" alt="Hotel Management">
                        {% else %}
                        <img src="{{fpath}}/avatarimage?figure={{article.figure}}&gesture=sml&direction=3&headonly=true" alt="{{article.author}}">
                        {% endif %}
                    </div>

                    <div class="author-details">
                        {% if article.author == "0" %}
                        <div class="author-name">Hotel Management</div>
                        {% else %}
                        <div class="author-name"><a href="{{path}}/profile/{{article.author}}" class="related-article-container">{{article.author}}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="right-side">

       <aside class="default-section">
            <div class="aside-title-content">Reacties</div>
            <div class="aside-content">
            <div class="nano has-scrollbar related-articles-container" style="height: 250px;">
                <div class="nano-content" tabindex="0">
                    <div class="nano-pane" style="display: block;">
                        <div class="nano-slider" style="height: 0px; transform: translate(0px, 0px);"></div>
                    </div>
                    {% if posts == null  %}
                    <p class="nopost">
                        Er zijn nog geen reacties.
                    </p>
                    {% endif %}
                    {% for post in posts %}
                    {% if post.hidden != 1 or player.rank >= 3 %}
                    <div class="ac-item" data-id="{{post.id}}" style="border-radius: 10px; {% if post.hidden == 1 %}filter: grayscale(100%);{% endif %}">
                        <div style="float:left; background: url({{fpath}}/avatarimage?figure={{post.author.figure}}&amp;head_direction=3&amp;headonly=1&amp;size=s); height: 30px; width: 27px;"></div>
                        <strong>
                            <a href="{{path}}/profile/{{post.username}}">
                                {{post.author.username}}
                            </a>
                        </strong>: {{post.message|bbcode}}

                        {% if player and player.rank == 1 %}
                        <div style="float: right">
                            <a href="#" style="float: right"><i class="fa fa-flag" data-id="{{post.id}}" data-report="articlePost" style="color: #7B7777;"></i></a>
                        </div>
                        {% endif %}

                        {% if 'housekeeping_moderation_tools' in permissions %}{% endif %}
                        {% if player.rank > 2 %}
                        <div style="float: right">
                            <a href="#" style="float: right">
                                <i class="fa {% if post.hidden == 0 %}fa-times{% else %}fa-eye{% endif %}" data-id="{{post.id}}" style="color: #7B7777;"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if data.posts != null  %}
                <div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 57px; transform: translate(0px, 0px);"></div></div>
                {% endif %}
            </div>
            </div>
            {% if player %}
            <div class="input-group reaction-reply">
                <input type="text" class="form-control" id="reply-message" placeholder="Typ hier je bericht.." required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary article-reply" data-id="{{article.id}}" style="width:64px">Plaats</button>
                </span>
            </div>
            {% endif %}
        </aside>
      
      
        <aside class="default-section">
            <div class="aside-title-content">Laatste nieuws</div>
            <div class="aside-content">
                <div class="related-articles-container">
                    {% for item in latest_news %}
                    <a href="{{path}}/article/{{item.id}}-{{item.slug}}" class="related-article-container">
                        <div class="related-article-thumbnail" style="background-image: url({{item.header}});"></div>
                        <div class="related-article-details">
                            <div class="related-article-title">{{item.title}} </div>
                            <div class="related-article-date">{{item.timestamp}}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}