{% extends "base.html" %}

{% block body %}
<div class="page-content shop-offer">
    <input type="hidden" id="offer-id" value="{{data.offer.offer_id}}">
    <input type="hidden" id="offer-amount" value="{{data.offer.amount}}">
    <input type="hidden" id="offer-country" value="{{data.offer.lang|lower}}">
    <h2>
        <a href="{{path}}/shop" class="rounded-button">{{locale.back}}</a>
        {{locale.buymethods}} - {{data.offer.amount}} {{data.offer.currency}} {{locale.for}} €{{data.offer.price}} {{locale.or_lower}}
    </h2>
    <article class="default-section loading-solutions">
        {{locale.loading_methods}}
    </article>
</div>
{% endblock %}