{% extends "base.html" %}

{% block body %}
{% if player %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <div class="aside-title-content">Kies een product</div>
            <div class="filter-container">
                <div class="filter-content">
                    <span>Land:</span>
                    <div class="select-container">
                        <select class="selectric">
                            <option value="nl" {% if data.lang == "nl" %}selected{% endif %}>Nederland</option>
                            <option value="be" {% if data.lang == "be" %}selected{% endif %}>België</option>
                        </select>
                    </div>
                    <!-- <button class="rounded-button blue">Filter</button> -->
                  </div>
            </div>

            <div class="offers-container">
                {% for offer in data.shop %}
                <div class="offer-container">
                    <a href="{{path}}/shop/offers/{{offer.offer_id}}" class="offer-content pixelated">
                        <div class="offer-label">{{offer.currency}}</div>
                        {% if offer.amount >= 500 %}<div class="offer-label">+ Super Zeldzaam</div>{% endif %}
                        <div class="offer-value"><br>{{offer.amount}}</div>
                        <div class="offer-amount">€{{offer.price}}</div>
                        <div class="credits-sprite credits-sprite-shop_icon_1" style="background-image: url(/assets/images/web/pages/shop/{{offer.image}}?)"></div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="payments-container">
                <span class="audiotel"></span>
                <span class="sms-plus"></span>
            </div>
        </article>
    </div>
    <div class="right-side">
        <div class="shop-purses">
            <div class="purse-container belcredits">
                {{player.belcredits}}
            </div>

            <div class="purse-container diamonds">
                {{player.vip_points}}
            </div>
        </div>
        <aside class="default-section">
            <div class="aside-title-content">Meer informatie</div>
            <div class="aside-content">
                <p>Heb je een vraag of probleem met <b>een aankoop</b>? Aarzel niet om contact op te nemen met de klantenservice via de  <a href="{{path}}/help/requests/new">Leet Help Tool</a>.</p>
            </div>
        </aside>
    </div>
</div>
{% else %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <h3 class="aside-title">Oeps! Je bent niet ingelogd.</h3>
            Om de Leet Winkel te bezoeken moet je ingelogd zijn. <a href="#" class="login-dialog-button">Klik hier</a> om in te loggen.
        </article>
    </div>
    <div class="right-side">
        <aside class="default-section">
            <h3 class="aside-title">Meer informatie</h3>
            <p>Heb je een vraag of probleem met <b>een aankoop</b>? Aarzel niet om contact op te nemen met de klantenservice via de  <a href="{{path}}/help/requests/new">Leet Help Tool</a>.</p>
        </aside>
    </div>
</div>
{% endif %}
{% endblock %}