{% extends "Admin/base.html" %}
{% block page %}Shop management{% endblock %}
{% block jsfile %}shop{% endblock %}
{% block body %}
<div class="row">
      <div class="col-xl-12" id="offerManage" style="display: none">
        <div class="kt-portlet">
            <form method="post" action="shop/editcreate">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon2-graph"></i>
                        </span>

                        <h3 class="kt-portlet__head-title titleEdit">
                            Offer Manage
                        </h3>
                    </div>
                    <div class="kt-subheader__wrapper kt-margin-t-10">
                       <a id="goBack" class="btn btn-clean btn-icon-sm" style="">
                       <i class="la la-long-arrow-left"></i>Back
                       </a>
                    </div>
                </div>

                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Currencys</label>
                            <select name="currencys" class="form-control targetCurrency">
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Amount</label>
                            <input type="number" name="amount" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>Price</label>
                            <input type="text" name="price" class="form-control" value="3.00">
                        </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-4">
                      <div class="form-group">
                            <label>Offer ID (dedipass)</label>
                            <input type="text" class="form-control" name="offer_id">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                            <label>Private key (dedipass)</label>
                            <input type="text" class="form-control" name="private_key">
                        </div>
                      </div>
                  </div>
                <div class="kt-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            Action:
                        </div>

                        <div class="col-lg-6 kt-align-right">
                            <input type="hidden" name="shopId">
                            <button type="submit" class="btn btn-brand addCategory">Create offer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
   <div class="col-xl-12" id="offers">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Shop management
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="col-md-4 kt-tablet-and-mobile">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label">
                                <button class="btn btn-secondary createOffer" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div id="kt_datatable_shop"></div>
            <!--end: Datatable -->
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="giveOffer" tabindex="-1" role="dialog" aria-labelledby="giveOffer" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <form method="post" action="shop/give">
            <div class="modal-header">
               <h5 class="modal-title" id="giveOffer">Give offer</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <select name="username" class="form-control remoteControl"></select>
               </div>
               <div class="form-group">
                  <label for="message-text" class="col-form-label">Offer:</label>
                  <select name="type" class="form-control">
                     {% for item in offers %}
                     <option value="{{item.id}}">{{item.amount}} {{item.currency}} ({{item.lang}})</option>
                     {% endfor %}
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Send offer</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}