{% extends "base.html" %}

{% block body %}
<div class="page-content">
    <article class="default-section job-offer-apply">
        <div class="aside-title-content">{{locale.title}}</div>
        <div class="aside-content">
        {{locale.content_1}}
        <br><br>
        {{locale.content_2}}
        <hr>
        <h4>{{locale.description}}</h4>
        - test<br />
        <hr>
        <form action="jobs/apply" method="post" autocomplete="off">
            <h5>{{locale.question_name}}</h5>
            <input type="text" class="rounded-input" name="wf0gs-36">

            <h5>{{locale.question_age}}</h5>
            <input type="text" class="rounded-input" name="wf0gs-37">

            <h5>{{locale.question_why}}</h5>
            <textarea name="wf0gs-41" class="rounded-textarea"></textarea>

            <h5>{{locale.question_time}}</h5>
            <div class="form-help">{{locale.question_time_help}}</div>

            <div class="schedules-container">
                <div class="schedule-container">
                    <div class="day">
                        {{locale.monday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-0" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.tuesday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-1" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.wednesday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-2" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.thursday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-3" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.friday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-4" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.saturday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-5" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        {{locale.sunday}}
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-6" placeholder="{{locale.time_to_time}}">
                    </div>
                </div>
            </div>

            <p class="submit-button">
                <button type="submit" class="rounded-button brown">{{locale.send}}</button>
            </p>
        </form>
      </div>
    </article>
</div>
{% endblock %}