{% extends "base.html" %}

{% block body %}
<div class="page-content">
    <article class="default-section job-offer-apply">
        <h3 class="aside-title">Reageer op de vacture</h3>
        Bedankt voor je interesse in Leet Hotel en voor het reageren op de vacature.
        <br><br>
        Probeer de vragenlijst zo nauwkeurig mogelijk te beantwoorden.
        <hr>
        <h4>Taakomschrijving</h4>
        - test<br />
        <hr>
        <form action="jobs/apply" method="post" autocomplete="off">
            <h5>Hoe heet je?</h5>
            <input type="text" class="rounded-input" name="wf0gs-36">

            <h5>Hoe oud ben je?</h5>
            <input type="text" class="rounded-input" name="wf0gs-37">

            <h5>Waarom denk je dat je geschikt zou kunnen zijn?</h5>
            <textarea name="wf0gs-41" class="rounded-textarea"></textarea>

            <h5>Hoeveel uur ben je online?</h5>
            <div class="form-help">Geef ons door hoeveel uur je per dag online bent op Leet Hotel.</div>

            <div class="schedules-container">
                <div class="schedule-container">
                    <div class="day">
                        Maandag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-0" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Dinsdag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-1" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Woensdag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-2" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Donderdag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-3" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Vrijdag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-4" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Zaterdag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-5" placeholder="van X tot Y uur">
                    </div>
                </div>

                <div class="schedule-container">
                    <div class="day">
                        Zondag
                    </div>
                    <div class="schedule">
                        <input type="text" class="rounded-input" name="wf0gs-43-6" placeholder="van X tot Y uur">
                    </div>
                </div>
            </div>

            <p class="submit-button">
                <button type="submit" class="rounded-button brown">Stuur mijn sollicitatie</button>
            </p>
        </form>
    </article>
</div>
{% endblock %}