{% extends "base.html" %}

{% block body %}
<div class="page-content job">
    <div class="tabs-container">
        <span class="tab selected">Lijst vacatures</span>
        <a href="{{path}}/jobs/applications" class="tab">Mijn sollicitaties</a>
    </div>
    <h2>Beschikbare vacatures</h2>
    <article class="default-section job-offer flex-container flex-vertical-center">
        <div class="offer-description">
            <h4>Bouwteam</h4>
            Ze zijn verantwoordelijk voor het bouwen van (event/officiele) kamers.
        </div>
        <div class="offer-button">
            <a href="{{path}}/jobs/apply" class="rounded-button brown">Reageren</a>
        </div>
    </article>
</div>
{% endblock %}