var Site = {
    name: "{{site.sitename}}",
    url: "{{site.domain}}",
    game_url: "{{site.cpath}}",
    figure_url: "{{site.fpath}}"
};

{% if player %}
    var Client = {{client|json_encode(constant('JSON_PRETTY_PRINT'))|raw}}
{% endif %}

{% if player is empty %}
var User = {
    id: 0,
    username: "",
    online: 0,
    is_logged: false,
    is_staff: false
};
{% else %}var User = {
    id: {{player.id}},
    username: "{{player.username}}",
    is_logged: true,
    ticket: "{{player.auth_ticket}}",
    shuttle_token: "{{player.shuttle_token}}",
    is_staff: {% if player.rank >= 3 %}true{% else %}false{% endif %}

};
{% endif %}

var Configuration = {
    {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
    revision: "{{revision}}2213",
    cache: "AEEA19MN001",
    debug: {{debug}}
};