{% extends "base.html" %}

{% block body %}
<div class="page-content">
    <div class="left-side">
        <article class="default-section">
            <div class="aside-title-content">Aankoopgeschiedenis</div>
            <div class="aside-content">
                {% if history is not empty %}
                <table class="default-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Datum</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in history %}
                        <tr>
                            <td>{{row.data}}</td>
                            <td>{{row.timestamp|date("d-m-Y - H:i")}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Je hebt nog geen aankoopgeschiedenis.
                {% endif %}
            </div>
        </article>
    </div>
    <div class="right-side">
        <aside class="default-section">
            <div class="aside-title-content">Koop Leet Club</div>
            <div class="aside-content">
                <p>Heb je een vraag of probleem met <b>een aankoop</b>? Aarzel niet om contact op te nemen met de klantenservice via de  <a href="{{path}}/help/requests/new">Leet Help Tool</a>.</p>
            </div>
        </aside>
    </div>
</div>
{% endblock %}