{% extends "permissions.html" %}{% set set_permission = 'homepage' %}{% block base %}{% if load is not defined %}<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <link rel="shortcut icon" href="{{path}}/assets/images/favicon.png" type="image/x-icon">
    <title>{{title}} - {{sitename}}</title>

    <meta name="description" content="Virtuele wereld voor jongeren waar je vrienden kunt maken en ontmoeten. Ontmoet en maak vrienden, chat met anderen, maak je eigen avatar, ontwerp gratis je eigen kamer en nog veel meer ...">
    <meta name="keywords" content="leet, {{sitename}}, virtueel, wereld, sociaal netwerk, gratis, community, avatar, chat, online, tiener, roleplaying, doe mee, sociaal, groepen, forums, veilig, speel, games, online, vrienden, tieners, zeldzaams, zeldzame meubi, verzamelen, maak, verzamel, kom in contact, meubi, meubeks, huisdieren, kamer inrichten, delen, uitdrukking, badges, hangout, muziek, beroemdheid, VIP-visits, celebs, mmo, mmorpgs, massive multiplayer, dox, dox hotel, doxhotel, space hotel, spacehotel, space, sunnie, sunnie day, sunnieday, habbo, HABBO, habbo hotel, habboo, habbo city, habbocity, cool, virtuele wereld, vip, retro, retro hotel, habbo retro, gratis, gratis habbo, holo">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{sitename}}" />
    <meta name="twitter:description" content="Virtuele wereld waar je vrienden kunt maken en ontmoeten." />
    <meta name="twitter:image" content="{{path}}/assets/images/summary-picture.png" />
    <meta name="twitter:site" content="@_leethotel" />
    <meta name="twitter:url" content="{{path}}" />
    <meta name="twitter:widgets:csp" content="on" />

    <meta property="og:title" content="{{sitename}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{path}}">
    <meta property="og:image" content="{{path}}/assets/images/summary-picture.png">
    <meta property="og:description" content="Virtuele wereld waar je vrienden kunt maken en ontmoeten.">
    <meta property="og:site_name" content="{{sitename}}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{path}}/assets/css/bbeditor.css?v=1234" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{path}}/assets/css/fonts.css?v={{revision}}">
    <link rel="stylesheet" href="{{path}}/assets/css/flaticon.css?v={{revision}}">
    <link rel="stylesheet" href="{{path}}/assets/css/magnific-popup.css?v={{revision}}">
    <link rel="stylesheet" href="{{path}}/assets/css/selectric.css?v={{revision}}">
    <link rel="stylesheet" href="{{path}}/assets/css/circle.css?v={{revision}}">
    <link rel="stylesheet" href="{{path}}/assets/css/web.css?v={{revision}}{{date().timestamp}}">
    <link rel="stylesheet" href="{{path}}/assets/css/web.responsive.css?v={{revision}}{{date().timestamp}}">

    <script src="{{path}}/assets/js/web/user_settings.js"></script>
  
    <!-- Scripts -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="{{path}}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{path}}/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body class="flex-container flex-direction-column">
<noscript>
    <style>
        .loading-container {
            display: none;
        }
    </style>
</noscript>
<div class="loading-container">
    <div id="loading-background"></div>
    <div class="loading-content">
        <div class="c100 center">
            <span></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="loading-bodytext">
            Laden... 0%
        </div>
    </div>
</div>

<div class="page-loading"></div>
<div class="notifications-container"></div>

<div class="cookies-accept-container">
    <div class="close-container">&times;</div>
    {{sitename}} maakt gebruik van eigen cookies en die van derden om zo een betere service te kunnen verlenen en zorgt er daarnaast voor dat de advertenties beter bij jouw voorkeuren aansluiten. Als je gebruik maakt van onze website ga je akkoord met ons cookie-beleid.
    <a href="{{path}}/help/14-cookie-beleid" target="_blank">Lees meer</a>
</div>

<div id="about-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h1 class="aside-title">{{sitename}}</h1>
    <p>Bedankt voor het spelen van {{shortname}}!<br>{{shortname}} is gemaakt met heel veel liefde ♥<br><br><h4>Asteroid 2.3.0</h4>Met dank aan Raizer and Metus</p>

    <h5>En alle {{shortname}}'s ♥</h5>
</div>

{% if player is empty %}
<div id="login-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h3 class="aside-title">Log in {{sitename}}</h3>
    <div class="login-form">
        <label for="login-username-input-target" class="username-input">
            <input type="text" name="username" class="rounded-input blue-active" id="login-username-input-target" placeholder="{{shortname}}naam..." required>
            <i class="flaticon-user-1"></i>
        </label>
        <label for="login-password-input-target" class="password-input">
            <input type="password" name="password" class="rounded-input blue-active" id="login-password-input-target" placeholder="Wachtwoord..." autocomplete="off" required>
            <i class="flaticon-padlock"></i>
        </label>
        <div style="float: left; margin-top: -8px">
            <a href="{{path}}/facebook" target="_self">
                <img src="/assets/images/facebook-login.png" width="24" height="24" style="margin-top:5px" />
            </a>
        </div>
        <div style="float: right; margin-top: -2px;display:none">
            <input type="checkbox" name="remember_me"> <small>Onthoud mijn gegevens</small>
        </div>
        <a href="{{path}}/password/claim" class="claim-password" data-close-popup="true" style="margin-top:1px">Wachtwoord/naam kwijt?</a>
        <button type="submit" class="rounded-button blue plain" id="login-request">Log in</button>
    </div>
</div>
{% endif %}
{% if player %}
<div id="report-item" class="payment-popup zoom-anim-dialog mfp-hide">
    <button title="Sluit" type="button" class="mfp-close" style="color:#000">&#215;</button>
    <h3 class="aside-title">Rapporteer dit bericht</h3>
    <p>
        Je staat op het punt om dit bericht te rapporteren. Weet je zeker dat je dit bericht wilt rapporteren?
    </p>
    <form action="/ajax/report/add" method="post" class="login-form" id="reportForm">

        <p>
            <button type="submit" class="rounded-button blue plain" id="reportItem">Ja, dit is ongepast!</button>
            <input type="hidden" id="reportItemid" name="itemId" value="">
        </p>
    </form>
</div>
{% endif %}

<nav class="navigation-container">
    <ul class="navigation-menu flex-container">
        <li class="navigation-item main-link-item">
            <a href="{{path}}/home">{{shortname}}</a>
        </li>

        <li class="navigation-item {% if "home" in page %}selected {% endif %}" data-category="home"><a href="{{path}}/home">Home</a></li>
        <li class="navigation-item has-items {% if "community" in page %}selected {% endif %}" data-category="community">
            <a href="{{path}}/articles">Community</a>
            <ul class="navigation-submenu">
                <li class="navigation-subitem"><a href="{{path}}/articles">Nieuws</a></li>
                <li class="navigation-subitem"><a href="{{path}}/community/photos">Foto's</a></li>
                <li class="navigation-subitem"><a href="{{path}}/community/staff">{{shortname}} Staff</a></li>
            </ul>
        </li>

        {% if player %}
        <li class="navigation-item has-items {% if "shop" in page %}selected {% endif %}" data-category="shop">
            <a href="{{path}}/shop">{{shortname}} winkel</a>
            <ul class="navigation-submenu">
                <li class="navigation-subitem"><a href="{{path}}/shop">Bel-Credits kopen</a></li>
                <li class="navigation-subitem"><a href="{{path}}/shop/club">{{shortname}} Club kopen</a></li>
                <li class="navigation-subitem"><a href="{{path}}/shop/history">Aankoopgeschiedenis</a></li>
                <li class="navigation-subitem"><a href="{{path}}/settings/namechange">{{shortname}}naam veranderen</a></li>
            </ul>
        </li>
        {% endif %}

        <li class="navigation-item {% if "games" in page %}selected {% endif %}" data-category="games"><a href="{{path}}/games/ranking">Highscores</a></li>
        <li class="navigation-item {% if "forum" in page %}selected {% endif %}" data-category="forum"><a href="{{path}}/forum">Forum</a></li>

        <li class="navigation-item has-items {% if "help" in page %}selected {% endif %}" data-category="help">
            <a href="{{path}}/help">Help Tool</a>
            <ul class="navigation-submenu">
                <li class="navigation-subitem"><a href="{{path}}/help">Help Tool</a></li>
                {% if player %}
                <li class="navigation-subitem"><a href="{{path}}/help/requests/view">Help Tickets</a></li>
                {% endif %}
            </ul>
        </li>

        {% if 'housekeeping' in permissions %}
        <li class="navigation-item">
            <a href="{{path}}/housekeeping" target="_blank">Housekeeping</a>
        </li>
        {% endif %}

        {% if player %}
        <li class="navigation-item navigation-right-side-item has-items">
            <a onclick="openSearch()" style="border: none;color:#000;cursor: pointer;position: fixed;margin-left: -6px;"><i class="fa fa-search"></i></a>
            <a href="#">
                <div class="account-avatar"><img src="{{fpath}}/avatarimage?figure={{player.look}}&gesture=sml" alt="{{player.username}}" class="pixelated"></div>
                <span>{{player.username}}</span>
            </a>
            <ul class="navigation-submenu">
                <li class="navigation-subitem"><a href="{{path}}/hotel">Naar {{sitename}}</a></li>
                <li class="navigation-subitem"><a href="{{path}}/profile/{{player.username}}">Mijn profiel</a></li>
                <li class="navigation-subitem"><a href="{{path}}/settings">{{shortname}} ID settings</a></li>
                <li class="navigation-subitem"><a href="{{path}}/logout" target="_self">Log uit</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>

<header class="header-container pixelated is-small">
  <div class="header-content">
      <div class="logo"><a href="{{path}}">{{shortname}} - Virtuele wereld voor jongeren!</a></div>
      <div class="account-container">
          <div class="account-title">
              Word lid van onze community en <span>maak nieuwe vrienden</span>
          </div>

          <div class="account-buttons">
              {% if player is empty %}
              <button class="rounded-button white login-dialog-button">Inloggen</button>
              <span>of</span>
              <a href="{{path}}/registration" class="rounded-button white plain">Meld je gratis aan!</a>
              {% else %}
              <a href="{{path}}/hotel" class="rounded-button white plain hotel-button">Naar {{sitename}}</a>
              {% endif %}
          </div>
      </div>
  </div>
</header>

<section class="page-container" data-page="{% if page is empty %}lost{% else %}{{page}}{% endif %}">
    {% block body %} {% endblock %}
</section>

<footer class="footer-container">
    <div class="footer-social-buttons flex-container flex-horizontal-center">
        <a href="https://www.instagram.com/leetgames" class="instagram-button" target="_blank"></a>
        <a href="https://www.facebook.com/leetgames" class="facebook-button" target="_blank"></a>
        <a href="https://www.twitter.com/_leethotel" class="twitter-button" target="_blank"></a>
        <a class="about-button about-dialog-button"></a>
    </div>
    <div class="footer-copyright">&copy; 2019 {{shortname}}.nl | <a href="{{path}}/help/">Help Tool</a> | <a href="{{path}}/help/3-de-leet-regels">De {{shortname}} Regels</a> | <a href="{{path}}/help/12-algemene-voorwaarden">Algemene voorwaarden</a> | <a href="{{path}}/help/13-privacyverklaring">Privacyverklaring</a> | <a href="{{path}}/help/14-cookie-beleid">Cookie-beleid</a> | <a href="{{path}}/help/4-gids-voor-ouders">Gids voor ouders</a></div>
</footer>

{% if player %}
<div id="hotel-container">
    <div class="client-buttons">
        <button class="client-close rounded-button blue plain">
            <i class="client-icon client-close-icon"></i>
            <span class="client-close-expand"><span>Web</span></span>
        </button>
        <button class="client-fullscreen rounded-button blue plain">
            <i class="client-icon client-fullscreen-icon"></i>
            <i class="client-icon client-fullscreen-icon-back hidden"></i>
        </button>

        <button class="client-count rounded-button blue plain">
            {% if 'housekeeping' in permissions %}<a href="{{path}}/housekeeping" target="_blank" style="color:#fff;text-decoration: none;"><i class="fa fa-user"></i> <b id="count">{{online_count}}</b></a>{% else %}<i class="fa fa-user"></i> <b id="count">{{online_count}}</b>{% endif %}
        </button>

        <button class="client-radio rounded-button blue plain">
            <audio controls id="stream" style="display:none">
                <source type="audio/mpeg">
            </audio>

            <i class="fa fa-play"></i>
            <i class="fa fa-pause" style="display: none"></i>

            <i class="fa fa-volume-down"></i>
            <i class="fa fa-volume-up"></i>
        </button>
    </div>
</div>
{% endif %}

<script src="{{path}}/assets/js/js.cookie.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/jquery.history.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/jquery.fullscreen.min.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/jquery.magnific-popup.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/selectric.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/functions.js?v={{revision}}"></script>
<script src="{{path}}/assets/js/web/loading.js?v={{revision}}{{date().timestamp}}"></script>
<script src="{{path}}/assets/js/pagination.js"></script>
<script src="{{path}}/assets/js/jquery.wysibb.js?v=10"></script>
<script>

    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    if (isMobile) {
        $(".hotel-button").attr("href", "/client");
    }

    function openSearch() {
        document.getElementById("searchOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("searchOverlay").style.display = "none";
    }
</script>

<script>if (window.module) module = window.module;</script>

</body>
</html>
{% else %}
{{ block('body') }}
{% endif %}
{% endblock %}