var Site = {
    name: "{{sitename}}",
    domain: "{{domain}}",
    url: "{{path}}",
    game_url: "{{cpath}}",
    figure_url: "{{fpath}}",
    story_url: "{{spath}}"
};

{% if player is empty %}
var User = {
    id: 0,
    username: "",
    online: 0,
    is_logged: false,
    is_staff: false
};
{% else %}var User = {
    id: {{player.id}},
    username: "{{player.username}}",
    is_logged: true,
    is_staff: {% if player.rank >= 3 %}true{% else %}false{% endif %}

};
{% endif %}

var Configuration = {
    recaptcha_public: "{{publicKey}}",
    revision: "{{revision}}2",
    cache: "1a7010799aca"
};