{% extends "base.html" %}

{% block body %}

        <div class="page-content">
            {% for key,currency in currencys %}
            <article class="default-section ranking-container">
                <table class="default-table ranking-content">
                    <thead>
                    <tr>
                        <th colspan="2">Leetnaam</th>
                        <th>{{key}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in currency %}
                    <tr>
                        <td><img src="{{fpath}}/avatarimage?figure={{user.player.look}}&gesture=sml&headonly=1" alt="{{user.player.look}}" class="pixelated small-head"></td>
                        <td><a href="{{path}}/profile/{{user.player.username}}">{{user.player.username}}</a></td>
                        <td><span>{{user.amount}}</span></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
            {% endfor %}
        </div>
{% endblock %}